body {
    font-family: 'Montserrat', sans-serif;
    background-color: #97bee2;
    padding: 15px;
}

#banner {
    width: 15%;
    padding-left: 20px;
}

.principal {
    background-color: rgb(128, 187, 255);
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    /* Position Absolute faz com que o elemento, neste caso o nav fique em uma camada superior da tela, sendo assim possível movê-lo para qualquer lugar dentro da tela*/
    top: 50px;
    /*0 representa a distancia do elemento nav do topo, neste caso zero*/
    right: 0;
    /*0 representa a distancia do elemento nav da direita, neste caso zero*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    /*margin: esq cima baixo dir */
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p {
    text-align: justify;
    color: #000000;
}

#missao {
    font-size: 20px;
    color: #000000;
    background: #CCCCCC;
    padding: 15px;
    text-align: center;
}

.titulo-centralizado {
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: #000000;
}

.itens {
    font-style: italic;
}

.idioma {
    padding: 30px;
    background: #FFFFFF;
}

.infosgerais {
    background: rgb(128, 187, 255);
    padding: 30px;
    font-size: 150%;
}

#itens_infosgerais {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
    list-style-type: none;
}

.mapa {
    width: 500px;
    height: 300px
}

.imgBeneficios {
    width: 25%;
}

.div-video-apresentacao {
    font-size: 150%;
    text-align: center;
    padding: 15px 15%;
    width: auto;
    background: white;
}

.video-apresentacao {}

footer {
    background: rgb(128, 187, 255);
    padding: 20px;
}

#copyright {
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .caixa {
        width: auto;
    }
    h1 {
        width: auto;
    }
    nav {
        position: static;
    }
    ul {
        padding: 0 0;
        text-align: center;
    }
    #itens_infosgerais {
        display: inline;
        font-style: italic;
        padding: 0 0;
    }
    .mapa {
        width: 100%;
    }
    .imgBeneficios {
        width: 50%;
        margin: 50px 25%;
    }
    .div-video-apresentacao {
        padding: 25px 25px;
    }
}