body {
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    margin: 0 150px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#banner {
    width: 15%;
    padding-left: 20px;
    padding-top: 10px;
}

nav {
    position: absolute;
    /* Position Absolute faz com que o elemento, neste caso o nav fique em uma camada superior da tela, sendo assim possível movê-lo para qualquer lugar dentro da tela*/
    top: 50px;
    /*0 representa a distancia do elemento nav do topo, neste caso zero*/
    right: 0;
    /*0 representa a distancia do elemento nav da direita, neste caso zero*/
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: darkgreen;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    /*margin: esq cima baixo dir */
}

.caixa {
    position: relative;
    width: auto;
    margin: 0 auto;
}

.titulo-principal {
    padding-left: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
}

.localidades {
    /* width: 940px; */
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.localidades li {
    display: inline-block;
    text-align: center;
    width: 350px;
    /*antes era 20%*/
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    transition-duration: 0.1s;
}

.localidades img {
    width: 75%;
    height: 75%;
    border-radius: 10%;
    ;
}

.localidades li:hover h2 {
    border-color: rgb(21, 170, 207);
    font-size: 27px;
}

.localidades li:hover {
    border-color: rgb(21, 170, 207);
}

.localidades li:active {
    border-color: rgb(7, 204, 73);
}

.saiba-mais img {
    width: 25px;
    vertical-align: bottom;
}

.saiba-mais {
    color: #FFFFFF;
    vertical-align: top;
    background-color: #4CAF50;
    font-size: 20px;
    border-radius: 5px;
    vertical-align: top;
    transition-duration: 0.4s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.saiba-mais:hover {
    background-color: #ffee04;
    color: #000000;
    font-size: 25px;
}

footer {
    background-color: #31bbbb;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

@media screen and (max-width:480px) {
    body {
        margin: 0 0;
    }
    .caixa {
        width: auto;
    }
    .localidades li {
        width: auto;
        padding: 0 0;
    }
    header {
        text-align: center;
    }
    .lista-menu {
        padding: 0 0;
    }
    nav {
        position: relative;
        text-align: center;
    }
    .itens-menu {
        margin-right: auto;
        margin-left: auto;
    }
    .descricao-localidade {
        padding: 25px;
        text-align: justify;
    }
}